#slider {
  position: absolute;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}
.bolaMov1 {
  background: radial-gradient(circle,#3d73c9af 0%,#86ace966 10%, transparent 100% );
  opacity: 70%;
  filter: blur(100px);
  width: 480px;
  height: 350px;
  border-radius: 50%;
  position: absolute;
  left: 80%;
  bottom: 40px;
  animation: rotar 50s infinite ease-in-out;
  transform-origin: 50% -100%;
}
.bolaMov2 {
  background: radial-gradient(circle,#5366f98a 0%, #8692e965 10%,transparent 100% );
  opacity: 60%;
  filter: blur(60px);
  width: 300px;
  height: 320px;
  border-radius: 50%;
  position: absolute;
  top: 130px;
  right: 20%;
  animation: gradient 35s infinite;
}
.bolaMov3 {
  background: radial-gradient(circle,#be04f691 0%, #c609ff67 10%,transparent 100% );
  filter: blur(40px);
  width: 1200px;
  height: 920px;
  border-radius: 50%;
  position: absolute;
  top: 80%;
  left: 10%;
  animation: rotar 40s infinite ease-in-out;
  transform-origin: -50% 100%;
}
.bolaMov4 {
  background: radial-gradient(circle,#1377ad8c 0%,#3192c663 10%,  transparent 100% );
  opacity: 90%;
  filter: blur(100px);
  width: 960px;
  height: 700px;
  border-radius: 50%;
  position: absolute;
  bottom: -30%;
  right: -30%;
  animation: gradient 30s infinite;
}
.bolaMov5 {
  background: radial-gradient(circle,#5979d397 0%, #86a0e95c 10%,transparent 100% );
  opacity: 70%;
  filter: blur(50px);
  width: 1500px;
  height: 1000px;
  border-radius: 50%;
  position: absolute;
  top: 35%;
  left: 55%;
  animation: rotar 40s infinite;
  transform-origin: -70% -120%;
}
.bolaMov6 {
  background: radial-gradient(circle,#b25ae19f 0%, #c686e968 10%,transparent 100% );
  opacity: 70%;
  filter: blur(50px);
  width: 800px;
  height: 630px;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  left: 3%;
  animation: slidebg 20s linear infinite;
}
.bolaMov7 {
  background: radial-gradient(circle,#e98686a5 10%,#ff000042 0%, transparent 100% );
  opacity: 70%;
  filter: blur(50px);
  width: 800px;
  height: 650px;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  left: 75%;
  transform: rotate(20deg);
  animation: bouncebg 20s linear infinite;
}
@keyframes rotar {
  0% {
    transform: rotate(0deg);
    opacity: 0.5;
  }
  50% {
    transform: rotate(50deg) scale(0.5);
    opacity: 0.9;
  }
  100% {
    transform: rotate(0deg);
    opacity: 0.5;
  }
}
@keyframes gradient {
  60% {
    transform: scale(1.5) translate(-70%, -20%);
  }
}
@keyframes bouncebg {
  50% {
    transform: scale(1.5) translate(20%, 40%) rotate(20deg);
  }
}
@keyframes slidebg {
  50% {
    transform: translate(40%, 10%) rotate(20deg);
  }
}